.description{
    background-color: rgb(255, 255, 255);
    color: rgb(119, 119, 119);
}

.developers {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
  }
  
  .developers h2 {
    font-family: cursive;
    color: #333;
  }

  @font-face {
    font-family: 'YourCursiveFont';
    src: url('path/to/YourCursiveFont.ttf') format('truetype');
  }
  
  .developers p {
    color: #555;
    line-height: 1.6;
  }
  
  /* Style for team members */
  .team-member {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .team-member img {
    max-width: 100%;
    border-radius: 50%;
  }
  
  @media (min-width: 768px) {
    /* Display four members in one line on larger screens */
    .team-member {
      width: 25%;
      float: left;
      box-sizing: border-box;
      padding: 0 15px;
    }
  }
  