/* Card.css */

.card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}

.card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-price {
  color: green;
  font-weight: bold;
}

button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.card-text {
  color: rgb(90, 89, 89);
}

.card img:hover {
  transform: scale(0.9);
}

.card-img-top {
  height: 300px !important;
}
