.product-details {
  margin-top: 100px !important;
}

.product-details-info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.product-details .product-details-info button{
  border-radius: 0;
  height: 50px;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 4px 4px 0px 0px black; 
  border: 1px solid #ffffffff; 
}

.product-details-info h6 {
  margin-bottom: 20px !important;
}





